{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="icon" type="image/png" href="{% static 'todo/logo.jpg' %}">
    <title>Todo Woo</title>
</head>
<body>
    <!-- Верхняя панель -->
    <nav id="topNav" class="navbar navbar-expand-md navbar-light" style="background-color: #1E90FF;">
        <div class="container">
            <a class="navbar-brand text-white" href="{% url 'home' %}">
                <img src="{% static 'portfolio/Logo.jpg' %}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
                <span>PORTFOLIO OF ABDURISHITOV ALISHER🧙</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" style="background-color: blue;">
                        <a class="nav-link text-white" href="https://klavogonki.ru/u/#/586891/" target="_blank">KLAVOGONKI</a>
                    </li>
                    <li class="nav-item" style="background-color: red;">
                        <a class="nav-link text-white" href="https://www.youtube.com/watch?v=ru3b8R55mZo">YouTube</a>
                    </li>
                    <li class="nav-item" style="background-color: blueviolet;">
                        <a class="nav-link text-white" href="https://forum.arizona-rp.com/" target="_blank">Forum</a>
                    </li>
                    <li class="nav-item" style="background-color: green;">
                        <a class="nav-link text-white" href="{% url 'blog:all_blogs' %}">Blog</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item" style="background-color: black;">
                            <a class="nav-link text-white" href="#" onclick="$('#signOutBtn').click()">Logout</a>
                            <form style='display: none;' method="POST" action="{% url 'logoutuser' %}">
                                {% csrf_token %}
                                <button id="signOutBtn" type="submit">Logout</button>
                            </form>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'signupuser' %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="{% url 'loginuser' %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Основной контент -->
    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- Подключите jQuery (полная версия) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Подключите Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <!-- Подключите Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>